In [1]:
DATAPATH = '../lab1/dataset/'

In [2]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv(DATAPATH + 'train.csv')

In [4]:
train

,UNC_YEAR,HSCD,COUNTRYCD,COUNTRYNM,TRADE_COUNTRYCD,TRADE_HSCD,TARIFF_AVG,SNDIST,NY_GDP_MKTP_CD,NY_GDP_MKTP_CD_1Y,SP_POP_TOTL,PA_NUS_FCRF,IC_BUS_EASE_DFRN_DB,KMDIST,TRADE_HSCD_COUNTRYCD,KR_TRADE_HSCD_COUNTRYCD
0,2017,190590,12,Algeria,46052990973,19480986257,30.0,3878.238437,170163165961,159994837855,41389198,110.973017,46.109810,9954.009766,3.416326e+06,7657
1,2017,190590,36,Australia,228441691195,19480986257,0.0,12203.155980,1329188475752,1208846993740,24601860,1.304758,80.223690,8329.652344,4.387470e+08,5294788
2,2017,190590,40,Austria,166475020975,19480986257,0.0,4403.247293,417237869116,395568644341,8797566,NaN,78.856460,8289.029297,4.532064e+08,335818
3,2017,190590,56,Belgium,406412223480,19480986257,0.0,3980.375563,502698069367,475739588765,11375158,NaN,72.409200,8722.114258,7.065245e+08,173709
4,2017,190590,76,Brazil,150749493921,19480986257,18.0,9644.206941,2062831045936,1795700168991,207833831,3.191389,55.382403,18364.505860,3.132965e+07,122850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21184,2017,852852,784,United Arab Emirates,270954907547,18327708223,NaN,5643.250737,385605506855,357045064670,9487203,3.672500,77.434350,6909.236328,2.056493e+08,881214
21185,2017,852852,792,Turkey,233799651234,18327708223,NaN,4123.461111,858988610574,869683121563,81101892,3.648133,69.378820,7967.700684,1.330809e+08,9545535
21186,2017,852852,818,Egypt,66338749061,18327708223,NaN,NaN,235733695652,332441717791,96442593,17.782534,55.474280,8497.368164,NaN,1313545
21187,2017,852852,826,United Kingdom,641332371112,18327708223,NaN,4071.487776,2666229179958,2694283209613,66058859,0.776977,83.341080,8875.389648,1.142794e+09,19876811
21188,2017,852852,842,USA,2405276626657,18327708223,NaN,8356.072383,19519353692000,18714960538000,324985539,1.000000,83.352553,11065.702150,5.496100e+09,152988098

In [7]:
TARGET = train.columns[-1]

In [14]:
a = np.log10(train[TARGET])
b = np.log2(train[TARGET])
c = np.log(train[TARGET])

/opt/conda/lib/python3.7/site-packages/pandas/core/arraylike.py:358: RuntimeWarning: divide by zero encountered in log2
  result = getattr(ufunc, method)(*inputs, **kwargs)
/opt/conda/lib/python3.7/site-packages/pandas/core/arraylike.py:358: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [13]:
train[TARGET]

0             7657
1          5294788
2           335818
3           173709
4           122850
           ...
21184       881214
21185      9545535
21186      1313545
21187     19876811
21188    152988098
Name: KR_TRADE_HSCD_COUNTRYCD, Length: 21189, dtype: int64

In [16]:
display(np.exp(a)[:10])
display(np.exp(b)[:10])
display(np.exp(c)[:10])
display(train[TARGET])

0     48.621151
1    832.013425
2    251.163462
3    188.636583
4    162.288426
5    330.327899
6    955.011897
7    104.756284
8    122.026921
9    995.971627
Name: KR_TRADE_HSCD_COUNTRYCD, dtype: float64

0    4.013397e+05
1    5.017218e+09
2    9.386049e+07
3    3.626316e+07
4    2.199968e+07
5    2.332142e+08
6    7.931857e+09
7    5.139170e+06
8    8.532095e+06
9    9.119286e+09
Name: KR_TRADE_HSCD_COUNTRYCD, dtype: float64

0       7657.0
1    5294788.0
2     335818.0
3     173709.0
4     122850.0
5     631082.0
6    7273171.0
7      44837.0
8      63715.0
9    8011591.0
Name: KR_TRADE_HSCD_COUNTRYCD, dtype: float64

0             7657
1          5294788
2           335818
3           173709
4           122850
           ...
21184       881214
21185      9545535
21186      1313545
21187     19876811
21188    152988098
Name: KR_TRADE_HSCD_COUNTRYCD, Length: 21189, dtype: int64

# Pythonic - 1

In [22]:
CountryCd = train.COUNTRYCD[:10]

In [31]:
result = ','.join(str(CountryCd.tolist()))

In [32]:
print(result)

[,1,2,,, ,3,6,,, ,4,0,,, ,5,6,,, ,7,6,,, ,1,0,4,,, ,1,2,4,,, ,1,4,4,,, ,1,5,2,,, ,1,5,6,]

In [34]:
example1 = 'http.www.asap.go.maybe'

In [37]:
example2 = example1.split('.')
example1

'http.www.asap.go.maybe'

In [39]:
example3 = '.'.join(example2)
example3

'http.www.asap.go.maybe'

In [40]:
example3 == example1

True

In [42]:
result = [i for i in range(10)]

In [44]:
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## filtering

In [45]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [47]:
[i if i % 2 == 0 else 10 for i in range(10) ]

[0, 10, 2, 10, 4, 10, 6, 10, 8, 10]

## nested loop

In [50]:
word_1 = 'jeong'
word_2 = 'iitae'

[i + j for i in word_1 for j in word_2]

['ji',
 'ji',
 'jt',
 'ja',
 'je',
 'ei',
 'ei',
 'et',
 'ea',
 'ee',
 'oi',
 'oi',
 'ot',
 'oa',
 'oe',
 'ni',
 'ni',
 'nt',
 'na',
 'ne',
 'gi',
 'gi',
 'gt',
 'ga',
 'ge']

In [52]:
word_3 = ["A", "B" , "C"]
word_4 = ["A", "C" , "B"]

[i + j for i in word_3 for j in word_4 if not(i==j)]
[i + j for i in word_3 for j in word_4 if not(i!=j)]

['AA', 'BB', 'CC']

## 2-dimensional list

In [57]:
words = 'The most important thing which is among our nearby daily is the human'.split()

In [58]:
result_2 = [[word.upper(), word.lower(), len(word)] for word in words ]

In [59]:
for i in result_2:
    print(i)

['THE', 'the', 3]
['MOST', 'most', 4]
['IMPORTANT', 'important', 9]
['THING', 'thing', 5]
['WHICH', 'which', 5]
['IS', 'is', 2]
['AMONG', 'among', 5]
['OUR', 'our', 3]
['NEARBY', 'nearby', 6]
['DAILY', 'daily', 5]
['IS', 'is', 2]
['THE', 'the', 3]
['HUMAN', 'human', 5]

In [75]:
word_5 = ['A', 'Z', 'F']
word_6 = ['A', 'D', 'F']

print([i + j for i in word_5 for j in word_6 if i!=j]) # 일차원 리스트 만드는 것 , 앞의 for 문이 먼저 진행됨.

print([[i + j for i in word_5] for j in word_6 if i!=j]) # 이차원 리스트 만드는 것, 뒤의 for 문이 먼저 실행 됨.

['AD', 'AF', 'ZA', 'ZD', 'ZF', 'FA', 'FD']
[['AA', 'ZA', 'FA'], ['AD', 'ZD', 'FD'], ['AF', 'ZF', 'FF']]

## Enumerate

In [79]:
{i:j for i, j in enumerate('Maybe it is amazing show since the nation foundation day'.split())}

{0: 'Maybe',
 1: 'it',
 2: 'is',
 3: 'amazing',
 4: 'show',
 5: 'since',
 6: 'the',
 7: 'nation',
 8: 'foundation',
 9: 'day'}

## zip

In [84]:
word_7 = ['ice' , 'girl' , 'data']
word_8 = ['cream' , 'friend', 'science']

[i for i in zip(word_7, word_8)]

[('ice', 'cream'), ('girl', 'friend'), ('data', 'science')]

In [86]:
a,b,c = zip((1,2,3),(4,5,6),(7,8,9))
print(a,b,c)
[sum(x) for x in zip((1,2,3),(4,5,6),(7,8,9))] #1 4 7 , 2 5 8 , 3 6 9

(1, 4, 7) (2, 5, 8) (3, 6, 9)

[12, 15, 18]

In [88]:
for i ,(a,b) in enumerate(zip(word_7, word_8)):
    print(i,a,b)

0 ice cream
1 girl friend
2 data science